WebPage/App_WebReferences/dedicaciones/dedicaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerDedicaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDedicacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDedicacionesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerDedicacionesSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDedicaciones" />
  </wsdl:message>
  <wsdl:message name="obtenerDedicacionesSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDedicacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="dedicacionesSoap">
    <wsdl:operation name="obtenerDedicaciones">
      <wsdl:input message="tns:obtenerDedicacionesSoapIn" />
      <wsdl:output message="tns:obtenerDedicacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dedicacionesSoap" type="tns:dedicacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerDedicaciones">
      <soap:operation soapAction="http://tempuri.org/obtenerDedicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dedicacionesSoap12" type="tns:dedicacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerDedicaciones">
      <soap12:operation soapAction="http://tempuri.org/obtenerDedicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dedicaciones">
    <wsdl:port name="dedicacionesSoap" binding="tns:dedicacionesSoap">
      <soap:address location="http://zuruhads18.azurewebsites.net/dedicaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="dedicacionesSoap12" binding="tns:dedicacionesSoap12">
      <soap12:address location="http://zuruhads18.azurewebsites.net/dedicaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>